<script setup>
import {defineProps, reactive, nextTick, defineEmits, ref} from 'vue';

const emit = defineEmits(['whenClick'])
const props = defineProps({
  menuData: Object,
  layerNumber: Number,
  menuParent: Object,
  selectValue: String
});
const selectValue = ref(props.selectValue);
const layerData = reactive(props.menuData);
const menuParent = reactive(props.menuParent);
layerData.forEach((element) => {
  if (element.state === undefined) {
    element.state = false
  }
})
const changeSelect = (target) => {
  emit('whenClick', target)
}
const handlerClick = async (item) => {
  if (item.state) {
    item.state = false
    await nextTick()
    document.querySelectorAll('.currentClick').forEach((dom) => {
      dom.classList.remove('currentClick')
    })
  } else {
    emit('whenClick', item.id)
  }

}


</script>

<template>
  <div v-if=menuParent.state>
    <div class="container" :key=item.id v-for="item in layerData">
      <div class="box" :id=item.id @click="handlerClick(item, layerData)">{{ item.name }}</div>
      <div v-if=item.children :id="item.id+'menu'" class="menu_state">
        <navigationMenu @whenClick=changeSelect :menuData=item.children :menuParent=item :selectValue=selectValue />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.container {
  margin-left: 20px;
  position: relative;
  color: #409eff;
}

.box {
  padding: 5px 8px;

  background-color: #ecf5ff;
  border: 1px solid grey;

  &.currentClick {
    background-color: yellow;
  }
}
</style>
