<script setup>
import navigationMenu from './components/navigationMenu.vue'
import {reactive, computed, watch, ref, nextTick, onMounted} from 'vue';
const allData = reactive([
  {
    name: "好喝黑糖",
    id: "64f",
    children: [
      {
        name: "黑糖鮮奶",
        id: "445",
        children: [
          {name: "黑糖珍珠鮮奶", id: "37a"},
          {name: "黑糖芋圓鮮奶", id: "feb"},
          {name: "黑糖蒟蒻鮮奶", id: "59c"},
        ]
      },
      {
        name: "黑糖冬瓜",
        id: "29e",
        children: [
          {name: "黑糖冬瓜牛奶", id: "ac3"},
          {name: "黑糖冬瓜珍珠", id: "ca0"},
        ]
      },
    ],
  },
  {
    name: "茶",
    id: "6c3",
    children: [
      {name: "烏龍綠", id: "5dc"},
      {name: "綠茶", id: "b5f"},
      {name: "紅茶", id: "b09"},
      {name: "青茶", id: "887"},
    ],
  },
  {
    name: "咖啡",
    id: "c81",
    children: [
      {
        name: "黑咖啡",
        id: "e02",
        children: [
          {name: "濃縮咖啡", id: "d20"},
          {name: "美式咖啡", id: "1f8"},
        ],
      },
      {
        name: "牛奶咖啡",
        id: "d7a",
        children: [
          {
            name: "拿鐵",
            id: "c09",
            children: [
              {name: "黑糖拿鐵", id: "db2"},
              {name: "榛果拿鐵", id: "9f6"},
              {name: "香草拿鐵", id: "b61"},
            ],
          },
          {name: "卡布奇諾", id: "9ac"},
          {name: "摩卡", id: "ce8"},
        ],
      },
    ],
  }
])
const rootState = {state:true}
const selectList = computed(() => {
    let result = [{
      id: 'zero',
      name: '-------------',
    }]
    const recurData = (data)=>{
      data.forEach((ele)=>{
        result = [...result, {
          id: ele.id,
          name: ele.name,
          state: ele.state
        }]
        if(ele.children!==undefined){
          recurData(ele.children)
        }
      })
    }
    recurData(allData)
    return result
})

const seekingData = () => {
  let result = {}
  const recurData = (target, data)=>{
    data.forEach((ele)=>{
      target[ele.id] = {
        name: ele.name
      }
      if(ele.children!==undefined){
        recurData(target[ele.id], ele.children)
      }
    })
  }
  recurData(result, allData)
  return result
}
const pathObject = seekingData()
const recurClose = (target)=>{
  target.state = false
  if(target.children!==undefined){
    target.children.forEach((ele)=>{
      recurClose(ele)
    })
  }
}
const recurOpen = async (targetID)=>{
  if(targetID!=='zero'){
    const findPath = (obj, targetKey, path = [])=>{
      if (obj[targetKey]) {
        return [...path, targetKey];
      }
      for (let i=0; i < Object.keys(obj).length;i++) {
        const key = Object.keys(obj)[i]
        if (typeof obj[key] === 'object' && obj[key] !== null) {
          const result = findPath(obj[key], targetKey, [...path, key]);
          if (result) {
            return result;
          }
        }
      }
      return null;
    }
    const openList = findPath(pathObject, targetID)
    const recurChange = (data, i)=>{
      data.forEach((ele)=>{
        if(ele.id===openList[i]){
          ele.state = true
          i++
          if(i < openList.length){
            recurChange(ele.children, i)
          }
        }
      })
    }
    recurChange(allData, 0)
  }
  await nextTick()
  document.querySelectorAll('.currentClick').forEach((dom)=>{
    dom.classList.remove('currentClick')
  })
  if(targetID !== 'zero'){
    document.getElementById(targetID).classList.add('currentClick')
  }
}
let selectedOption = ref('zero')
watch(selectedOption, (newValue) => {
  allData.forEach((element)=>{
    recurClose(element)
  })
  recurOpen(newValue)
  localStorage.setItem('selectedItem', newValue)
  const localSave = window.localStorage.getItem('selectedItem')
  console.log('localSave='+localSave)
});

onMounted(() => {
  const localSave = window.localStorage.getItem('selectedItem')
  if(localSave!=='zero'|| localStorage!==null){
    selectedOption.value = localSave
  }
})

const changeSelect = async (target)=>{
  selectedOption.value = 'zero'
  await nextTick()
  selectedOption.value = target
}

</script>

<template>
  <navigationMenu @whenClick=changeSelect :menuData=allData :menuParent=rootState :selectValue=selectedOption />
  <div>
    <select class="select_box" v-model=selectedOption>
      <option :key=item.id v-for="item in selectList" :value=item.id>{{item.name}}</option>
    </select>
  </div>

</template>

<style lang="scss" scoped>
.select_box{
  position: relative;
  top:20px;
  left: 20px;
  min-width: 100px;
}

</style>
